*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: #C4DFDF;
}
.pagPacientes{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    color: #F8F6F4;
}
#formAgregarPaciente{
    text-align: center;
    

}
.navbar-brand{
    color: rgb(2, 116, 223)
}

#verPacientes{
    background-color: rgb(5, 122, 177);
}